<a href="https://colab.research.google.com/github/Nikitaion/mental_disorders/blob/main/mental_disorders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/mental_disorders.csv -O ds.csv

--2022-04-12 11:14:02--  https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/mental_disorders.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60771 (59K) [text/plain]
Saving to: ‘ds.csv’

ds.csv              100%[===================>]  59.35K  --.-KB/s    in 0.007s

2022-04-12 11:14:02 (8.56 MB/s) - ‘ds.csv’ saved [60771/60771]

In [96]:
import tensorflow as tf
print(f"Tensorflow version: {tf.__version__}")

import pandas as pd
import numpy as np

Tensorflow version: 2.8.0

In [4]:
ds = pd.read_csv("/content/ds.csv")
ds.head()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,да,нет,нет,М,32,высшее,не работает,Холост,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,да,нет,да,М,26,среднее,не работает,Холост,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,нет,нет,нет,М,49,среднее,не работает,Разведен,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,да,нет,нет,М,50,среднее,не работает,Холост,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,да,нет,нет,М,27,среднее,Работает,Разведен,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0

In [5]:
ds.tail()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
175,да,нет,нет,Ж,48,Высшее,Не работает,Женат,6.0,5,...,40.0,30.0,15.0,20.0,10.0,25.0,10.0,8.0,3.0,70.0
176,да,нет,да,М,36,Среднее,Не работает,Холост,6.0,3,...,14.0,8.0,4.0,10.0,4.0,14.0,18.0,5.0,6.0,30.0
177,да,да,нет,М,40,Среднее,Не работает,Холост,9.0,5,...,25.0,18.0,12.0,20.0,8.0,30.0,12.0,15.0,6.0,30.0
178,нет,нет,да,М,35,Незаконченное высшее,Не работает,Холост,7.0,2,...,28.0,30.0,30.0,40.0,12.0,50.0,50.0,2.0,4.0,60.0
179,нет,нет,нет,М,24,Высшее,Работает,Холост,10.0,5,...,10.0,20.0,10.0,10.0,10.0,20.0,10.0,7.0,3.0,80.0

In [8]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 51 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Нарушения сна                              180 non-null    object
 1   Тревога                                    180 non-null    object
 2   Депрессия                                  180 non-null    object
 3   Пол                                        180 non-null    object
 4   Полных лет                                 180 non-null    int64
 5   Образование                                180 non-null    object
 6   Род занятий                                180 non-null    object
 7   Семейное положение                         180 non-null    object
 8   Здоровье от 1 до 10                        177 non-null    float64
 9   Удовлетворенность семеными отношениями     180 non-null    int64
 10  Удовлетворенность материальным положением  179 non-null    object
 11  Здоровье от 1 до 10.1                      177 non-null    float64
 12  Были ли нарушения сна                      180 non-null    object
 13  Рост                                       174 non-null    float64
 14  Вес                                        173 non-null    object
 15  ИМТ                                        179 non-null    object
 16  Динамека веса за год                       180 non-null    object
 17  Операции                                   180 non-null    object
 18  Аллергии                                   180 non-null    object
 19  СД                                         180 non-null    object
 20  Забол кожи                                 180 non-null    object
 21  ГБ                                         180 non-null    object
 22  Панкреатит                                 180 non-null    object
 23  Дисфункция ЖКТ                             180 non-null    object
 24  ЧМТ                                        178 non-null    object
 25  Насл отягощенность                         180 non-null    object
 26  Дебют                                      180 non-null    object
 27  Стаж шизофр                                177 non-null    object
 28  Преобл синдром                             179 non-null    object
 29  P                                          180 non-null    int64
 30  N                                          180 non-null    int64
 31  G                                          180 non-null    int64
 32  BARS (акатизия)                            179 non-null    float64
 33  SAS (Экстрапир)                            179 non-null    float64
 34  AIMS (непр дв)                             179 non-null    float64
 35  О. талии                                   176 non-null    float64
 36  О. бедра                                   176 non-null    float64
 37  О. запястья                                176 non-null    object
 38  О. Бедер                                   176 non-null    float64
 39  О. плеча                                   176 non-null    float64
 40  Т. спина                                   176 non-null    float64
 41  Т. пупок                                   176 non-null    float64
 42  Т. грудь                                   176 non-null    float64
 43  Т. бицепс                                  176 non-null    float64
 44  Т. трицепс                                 176 non-null    float64
 45  Т.предпл                                   176 non-null    float64
 46  Т. бедро                                   176 non-null    float64
 47  Т. икра                                    176 non-null    float64
 48  ESS                                        175 non-null    float64
 49  шкала общего клин впечатления              172 non-null    float64
 50  шкала соц функционир                       174 non-null    float64
dtypes: float64(21), int64(5), object(25)
memory usage: 71.8+ KB

In [23]:
# ds["Нарушения сна"] = ds["Нарушения сна"].map(dict(да=1, нет=0))

In [106]:
ds["Нарушения сна"].value_counts()

1    113
0     67
Name: Нарушения сна, dtype: int64

In [116]:
def change_value_to_numeric(x):
  if type(x) == int or type(x) == float:
    return x

  if x.lower() == "да":
    return 1
  elif x.lower() == "нет":
    return 0
  elif x.lower() == "м":
    return 1
  elif x.lower() == "ж":
    return 0
  
  # Род занятий
  elif x.lower() == "не работает":
    return 0
  elif x.lower() == "работает":
    return 1
  elif x.lower() == "учится":
    return 2
  elif x.lower() == "пенсионер":
    return 3
  
  # Семейное положение:
  elif x.lower() == "холост":
    return 0 
  elif x.lower() == "женат":
    return 1
  elif x.lower() == "разведен":
    return 2
  elif x.lower() == "вдовец":
    return 3

  return "NaN"


# Образование:
# среднее - 0
# Незаконченное высшее - 1
# Высшее - 2
# неполное среднее - 3
# Начальное - 4

# Динамика веса за год:
# Стабильный вес - 0
# Снижение веса - 1
# Увеличение веса - 2

# ЧМТ:
# Нет - 0
# Да (без потери сознания) - 1
# Да (с потерей сознания) - 2

# Преобл синдром:
# Аффективно-параноидный - 0
# Параноидный - 1
# Галлюцинаторно-параноидный - 2
# Парафренный - 3
# Кататонический - 4

In [117]:
ds.applymap(lambda x: change_value_to_numeric(x))

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,1,0,0,1,32,NaN,0,0,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,1,0,1,1,26,NaN,0,0,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,0,0,0,1,49,NaN,0,2,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,1,0,0,1,50,NaN,0,0,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,1,0,0,1,27,NaN,1,2,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,1,0,0,0,48,NaN,0,1,6.0,5,...,40.0,30.0,15.0,20.0,10.0,25.0,10.0,8.0,3.0,70.0
176,1,0,1,1,36,NaN,0,0,6.0,3,...,14.0,8.0,4.0,10.0,4.0,14.0,18.0,5.0,6.0,30.0
177,1,1,0,1,40,NaN,0,0,9.0,5,...,25.0,18.0,12.0,20.0,8.0,30.0,12.0,15.0,6.0,30.0
178,0,0,1,1,35,NaN,0,0,7.0,2,...,28.0,30.0,30.0,40.0,12.0,50.0,50.0,2.0,4.0,60.0
179,0,0,0,1,24,NaN,1,0,10.0,5,...,10.0,20.0,10.0,10.0,10.0,20.0,10.0,7.0,3.0,80.0

In [115]:
ds

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,1,нет,нет,М,32,высшее,не работает,Холост,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,1,нет,да,М,26,среднее,не работает,Холост,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,0,нет,нет,М,49,среднее,не работает,Разведен,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,1,нет,нет,М,50,среднее,не работает,Холост,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,1,нет,нет,М,27,среднее,Работает,Разведен,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,1,нет,нет,Ж,48,Высшее,Не работает,Женат,6.0,5,...,40.0,30.0,15.0,20.0,10.0,25.0,10.0,8.0,3.0,70.0
176,1,нет,да,М,36,Среднее,Не работает,Холост,6.0,3,...,14.0,8.0,4.0,10.0,4.0,14.0,18.0,5.0,6.0,30.0
177,1,да,нет,М,40,Среднее,Не работает,Холост,9.0,5,...,25.0,18.0,12.0,20.0,8.0,30.0,12.0,15.0,6.0,30.0
178,0,нет,да,М,35,Незаконченное высшее,Не работает,Холост,7.0,2,...,28.0,30.0,30.0,40.0,12.0,50.0,50.0,2.0,4.0,60.0
179,0,нет,нет,М,24,Высшее,Работает,Холост,10.0,5,...,10.0,20.0,10.0,10.0,10.0,20.0,10.0,7.0,3.0,80.0

In [ ]:
# Let's try to use