<a href="https://colab.research.google.com/github/Nikitaion/mental_disorders/blob/main/mental_disorders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/050622_mental_disorders_data.csv -O ds.csv

--2022-06-08 07:29:10--  https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/050622_mental_disorders_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21849 (21K) [text/plain]
Saving to: ‘ds.csv’

ds.csv              100%[===================>]  21.34K  --.-KB/s    in 0.001s

2022-06-08 07:29:10 (40.5 MB/s) - ‘ds.csv’ saved [21849/21849]

In [2]:
import tensorflow as tf
print(f"Tensorflow version: {tf.__version__}")

import pandas as pd
import numpy as np

from sklearn.model_selection import  train_test_split

from sklearn.preprocessing import StandardScaler

Tensorflow version: 2.8.2

In [3]:
ds = pd.read_csv("/content/ds.csv")
ds.head()

,Снинговый номер,Пол,Полных лет,"Образование(0-начальное, 4-высшее)","Род занятий(0-0, работает-1","Семейное положение(0-0, 1-женат)",Удовлетворенность семеными отношениями,Удовлетворенность материальным положением,Здоровье от 1 до 10,Были ли нарушения сна,...,Дебют,Частота госпит,Стаж шизофр,P,N,G,(СОН)psqi больше 6,(ТРЕВОГА)Гаиильтон больше 16,(ДЕПРЕССИЯ)madrs больше 6,(ДЕПРЕССИЯ)Калгари больше 5
0,УП-1,М,32,4,0,0,5,0,7,1,...,28.3,0,3.7,11,11,18,0,0,0,0
1,УП-2,М,26,2,0,0,5,0,10,1,...,26.0,1,2.0,10,25,36,1,0,1,1
2,УП-3,М,49,2,0,0,5,1,10,0,...,26.0,2,23.0,9,16,23,0,0,0,0
3,УП-4,М,50,2,0,0,5,1,7,1,...,16.0,1,34.0,13,13,20,0,0,0,0
4,УП-5,М,27,2,1,0,5,1,9,1,...,21.0,0,6.0,7,9,22,0,0,0,0

In [4]:
ds.tail()

,Снинговый номер,Пол,Полных лет,"Образование(0-начальное, 4-высшее)","Род занятий(0-0, работает-1","Семейное положение(0-0, 1-женат)",Удовлетворенность семеными отношениями,Удовлетворенность материальным положением,Здоровье от 1 до 10,Были ли нарушения сна,...,Дебют,Частота госпит,Стаж шизофр,P,N,G,(СОН)psqi больше 6,(ТРЕВОГА)Гаиильтон больше 16,(ДЕПРЕССИЯ)madrs больше 6,(ДЕПРЕССИЯ)Калгари больше 5
246,УФ-32,М,35,3,0,0,2,0,7,1,...,19.0,0,16.0,19,8,31,0,0,1,1
247,УФ-33,М,57,2,0,0,1,0,9,1,...,22.0,0,35.0,10,10,23,0,0,0,0
248,УФ-34,М,24,4,1,0,5,1,10,1,...,18.0,0,6.0,7,9,27,0,0,0,0
249,УФ-33-2,М,41,2,0,0,3,0,9,1,...,28.0,2,13.0,14,13,21,1,1,1,0
250,УФ-34-2,М,32,2,0,0,5,1,10,1,...,23.0,1,9.0,7,12,28,0,0,1,0

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Снинговый номер                            251 non-null    object
 1   Пол                                        251 non-null    object
 2   Полных лет                                 251 non-null    int64
 3   Образование(0-начальное, 4-высшее)         251 non-null    int64
 4   Род занятий(0-0, работает-1                251 non-null    int64
 5   Семейное положение(0-0, 1-женат)           251 non-null    int64
 6   Удовлетворенность семеными отношениями     251 non-null    int64
 7   Удовлетворенность материальным положением  251 non-null    int64
 8   Здоровье от 1 до 10                        251 non-null    int64
 9   Были ли нарушения сна                      251 non-null    int64
 10  ИМТ                                        251 non-null    float64
 11  Операции                                   251 non-null    int64
 12  Аллергии                                   251 non-null    int64
 13  СД                                         251 non-null    int64
 14  Забол кожи                                 251 non-null    int64
 15  ГБ                                         251 non-null    int64
 16  Панкреатит                                 251 non-null    int64
 17  Дисфункция ЖКТ                             251 non-null    int64
 18  ЧМТ                                        251 non-null    int64
 19  Насл отягощенность                         251 non-null    int64
 20  Дебют                                      251 non-null    float64
 21  Частота госпит                             251 non-null    int64
 22  Стаж шизофр                                251 non-null    float64
 23  P                                          251 non-null    int64
 24  N                                          251 non-null    int64
 25  G                                          251 non-null    int64
 26  (СОН)psqi больше 6                         251 non-null    int64
 27  (ТРЕВОГА)Гаиильтон больше 16               251 non-null    int64
 28  (ДЕПРЕССИЯ)madrs больше 6                  251 non-null    int64
 29  (ДЕПРЕССИЯ)Калгари больше 5                251 non-null    int64
dtypes: float64(3), int64(25), object(2)
memory usage: 59.0+ KB

In [6]:
ds.isna().sum()

Снинговый номер                              0
Пол                                          0
Полных лет                                   0
Образование(0-начальное, 4-высшее)           0
Род занятий(0-0, работает-1                  0
Семейное положение(0-0, 1-женат)             0
Удовлетворенность семеными отношениями       0
Удовлетворенность материальным положением    0
Здоровье от 1 до 10                          0
Были ли нарушения сна                        0
ИМТ                                          0
Операции                                     0
Аллергии                                     0
СД                                           0
Забол кожи                                   0
ГБ                                           0
Панкреатит                                   0
Дисфункция ЖКТ                               0
ЧМТ                                          0
Насл отягощенность                           0
Дебют                                        0
Частота госпит                               0
Стаж шизофр                                  0
P                                            0
N                                            0
G                                            0
(СОН)psqi больше 6                           0
(ТРЕВОГА)Гаиильтон больше 16                 0
(ДЕПРЕССИЯ)madrs больше 6                    0
(ДЕПРЕССИЯ)Калгари больше 5                  0
dtype: int64

In [8]:
# drop unnecessary columns
ds = ds.drop(columns=['Снинговый номер'])
# ds = ds.drop(columns=['Здоровье от 1 до 10', 'Удовлетворенность материальным положением', 'Рост', 'Вес', 'BARS (акатизия)', 'SAS (Экстрапир)', 'AIMS (непр дв)', 'ESS', 'шкала общего клин впечатления', 'шкала соц функционир'])

In [9]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Пол                                        251 non-null    object
 1   Полных лет                                 251 non-null    int64
 2   Образование(0-начальное, 4-высшее)         251 non-null    int64
 3   Род занятий(0-0, работает-1                251 non-null    int64
 4   Семейное положение(0-0, 1-женат)           251 non-null    int64
 5   Удовлетворенность семеными отношениями     251 non-null    int64
 6   Удовлетворенность материальным положением  251 non-null    int64
 7   Здоровье от 1 до 10                        251 non-null    int64
 8   Были ли нарушения сна                      251 non-null    int64
 9   ИМТ                                        251 non-null    float64
 10  Операции                                   251 non-null    int64
 11  Аллергии                                   251 non-null    int64
 12  СД                                         251 non-null    int64
 13  Забол кожи                                 251 non-null    int64
 14  ГБ                                         251 non-null    int64
 15  Панкреатит                                 251 non-null    int64
 16  Дисфункция ЖКТ                             251 non-null    int64
 17  ЧМТ                                        251 non-null    int64
 18  Насл отягощенность                         251 non-null    int64
 19  Дебют                                      251 non-null    float64
 20  Частота госпит                             251 non-null    int64
 21  Стаж шизофр                                251 non-null    float64
 22  P                                          251 non-null    int64
 23  N                                          251 non-null    int64
 24  G                                          251 non-null    int64
 25  (СОН)psqi больше 6                         251 non-null    int64
 26  (ТРЕВОГА)Гаиильтон больше 16               251 non-null    int64
 27  (ДЕПРЕССИЯ)madrs больше 6                  251 non-null    int64
 28  (ДЕПРЕССИЯ)Калгари больше 5                251 non-null    int64
dtypes: float64(3), int64(25), object(1)
memory usage: 57.0+ KB

In [13]:
# Why i did this?
# We have one-hot encoding lol -_-

def change_value_to_numeric(x):
  if type(x) == int or type(x) == float:
    return x

  x = x.strip().lower() # remove spaces and make lower

  if x == "да":
    return 1
  elif x == "нет":
    return 0
  elif x == "м":
    return 1
  elif x == "ж":
    return 0
  
  # Род занятий
  elif x== "не работает":
    return 0
  elif x == "работает":
    return 1
  elif x == "учится":
    return 2
  elif x == "пенсионер":
    return 3
  
  # Семейное положение:
  elif x == "холост":
    return 0 
  elif x == "женат":
    return 1
  elif x == "разведен":
    return 2
  elif x == "вдовец":
    return 3

  # Образование:
  elif x == "среднее":
    return 0 
  elif x == "незаконченное высшее":
    return 1
  elif x == "высшее":
    return 2
  elif x == "неполное среднее":
    return 3
  elif x == "начальное":
    return 4

  # Динамика веса за год:
  elif x == "стабильный вес":
    return 0 
  elif x == "снижение веса":
    return 1
  elif x == "увеличение веса":
    return 2

  # ЧМТ:
  elif x == "нет":
    return 0 
  elif x == "да (без потери сознания)":
    return 1
  elif x == "да (с потерей сознания)":
    return 2

  # Преобл синдром:
  elif x == "аффективно-параноидный":
    return 0 
  elif x == "параноидный":
    return 1
  elif x == "галлюцинаторно-параноидный":
    return 2
  elif x == "парафренный":
    return 3
  elif x == "кататонический":
    return 4

  return "NaN"

In [43]:
# ds.applymap(lambda x: change_value_to_numeric(x))

In [45]:
# ds = ds.applymap(lambda x: change_value_to_numeric(x))

In [49]:
ds['Пол'].value_counts()

1.0    175
0.0     76
Name: Пол, dtype: int64

In [ ]:
ds['Пол'] = np.where(ds['Пол']=='М',1,0)

In [ ]:
ds['Пол'].value_counts()

In [16]:
ds.head()

,Пол,Полных лет,"Образование(0-начальное, 4-высшее)","Род занятий(0-0, работает-1","Семейное положение(0-0, 1-женат)",Удовлетворенность семеными отношениями,Удовлетворенность материальным положением,Здоровье от 1 до 10,Были ли нарушения сна,ИМТ,...,Дебют,Частота госпит,Стаж шизофр,P,N,G,(СОН)psqi больше 6,(ТРЕВОГА)Гаиильтон больше 16,(ДЕПРЕССИЯ)madrs больше 6,(ДЕПРЕССИЯ)Калгари больше 5
0,1,32,4,0,0,5,0,7,1,24.012346,...,28.3,0,3.7,11,11,18,0,0,0,0
1,1,26,2,0,0,5,0,10,1,20.244898,...,26.0,1,2.0,10,25,36,1,0,1,1
2,1,49,2,0,0,5,1,10,0,29.752744,...,26.0,2,23.0,9,16,23,0,0,0,0
3,1,50,2,0,0,5,1,7,1,22.093170,...,16.0,1,34.0,13,13,20,0,0,0,0
4,1,27,2,1,0,5,1,9,1,26.061679,...,21.0,0,6.0,7,9,22,0,0,0,0

In [17]:
# Check for na values
ds.isna().sum()

Пол                                          0
Полных лет                                   0
Образование(0-начальное, 4-высшее)           0
Род занятий(0-0, работает-1                  0
Семейное положение(0-0, 1-женат)             0
Удовлетворенность семеными отношениями       0
Удовлетворенность материальным положением    0
Здоровье от 1 до 10                          0
Были ли нарушения сна                        0
ИМТ                                          0
Операции                                     0
Аллергии                                     0
СД                                           0
Забол кожи                                   0
ГБ                                           0
Панкреатит                                   0
Дисфункция ЖКТ                               0
ЧМТ                                          0
Насл отягощенность                           0
Дебют                                        0
Частота госпит                               0
Стаж шизофр                                  0
P                                            0
N                                            0
G                                            0
(СОН)psqi больше 6                           0
(ТРЕВОГА)Гаиильтон больше 16                 0
(ДЕПРЕССИЯ)madrs больше 6                    0
(ДЕПРЕССИЯ)Калгари больше 5                  0
dtype: int64

In [18]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Пол                                        251 non-null    int64
 1   Полных лет                                 251 non-null    int64
 2   Образование(0-начальное, 4-высшее)         251 non-null    int64
 3   Род занятий(0-0, работает-1                251 non-null    int64
 4   Семейное положение(0-0, 1-женат)           251 non-null    int64
 5   Удовлетворенность семеными отношениями     251 non-null    int64
 6   Удовлетворенность материальным положением  251 non-null    int64
 7   Здоровье от 1 до 10                        251 non-null    int64
 8   Были ли нарушения сна                      251 non-null    int64
 9   ИМТ                                        251 non-null    float64
 10  Операции                                   251 non-null    int64
 11  Аллергии                                   251 non-null    int64
 12  СД                                         251 non-null    int64
 13  Забол кожи                                 251 non-null    int64
 14  ГБ                                         251 non-null    int64
 15  Панкреатит                                 251 non-null    int64
 16  Дисфункция ЖКТ                             251 non-null    int64
 17  ЧМТ                                        251 non-null    int64
 18  Насл отягощенность                         251 non-null    int64
 19  Дебют                                      251 non-null    float64
 20  Частота госпит                             251 non-null    int64
 21  Стаж шизофр                                251 non-null    float64
 22  P                                          251 non-null    int64
 23  N                                          251 non-null    int64
 24  G                                          251 non-null    int64
 25  (СОН)psqi больше 6                         251 non-null    int64
 26  (ТРЕВОГА)Гаиильтон больше 16               251 non-null    int64
 27  (ДЕПРЕССИЯ)madrs больше 6                  251 non-null    int64
 28  (ДЕПРЕССИЯ)Калгари больше 5                251 non-null    int64
dtypes: float64(3), int64(26)
memory usage: 57.0 KB

In [19]:
# turn dataset to float32
ds = ds.astype(np.float32)
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Пол                                        251 non-null    float32
 1   Полных лет                                 251 non-null    float32
 2   Образование(0-начальное, 4-высшее)         251 non-null    float32
 3   Род занятий(0-0, работает-1                251 non-null    float32
 4   Семейное положение(0-0, 1-женат)           251 non-null    float32
 5   Удовлетворенность семеными отношениями     251 non-null    float32
 6   Удовлетворенность материальным положением  251 non-null    float32
 7   Здоровье от 1 до 10                        251 non-null    float32
 8   Были ли нарушения сна                      251 non-null    float32
 9   ИМТ                                        251 non-null    float32
 10  Операции                                   251 non-null    float32
 11  Аллергии                                   251 non-null    float32
 12  СД                                         251 non-null    float32
 13  Забол кожи                                 251 non-null    float32
 14  ГБ                                         251 non-null    float32
 15  Панкреатит                                 251 non-null    float32
 16  Дисфункция ЖКТ                             251 non-null    float32
 17  ЧМТ                                        251 non-null    float32
 18  Насл отягощенность                         251 non-null    float32
 19  Дебют                                      251 non-null    float32
 20  Частота госпит                             251 non-null    float32
 21  Стаж шизофр                                251 non-null    float32
 22  P                                          251 non-null    float32
 23  N                                          251 non-null    float32
 24  G                                          251 non-null    float32
 25  (СОН)psqi больше 6                         251 non-null    float32
 26  (ТРЕВОГА)Гаиильтон больше 16               251 non-null    float32
 27  (ДЕПРЕССИЯ)madrs больше 6                  251 non-null    float32
 28  (ДЕПРЕССИЯ)Калгари больше 5                251 non-null    float32
dtypes: float32(29)
memory usage: 28.6 KB

In [20]:
ds['(СОН)psqi больше 6'].value_counts()

1.0    126
0.0    125
Name: (СОН)psqi больше 6, dtype: int64

In [21]:
ds['(ТРЕВОГА)Гаиильтон больше 16'].value_counts()

0.0    182
1.0     69
Name: (ТРЕВОГА)Гаиильтон больше 16, dtype: int64

In [22]:
ds['(ДЕПРЕССИЯ)madrs больше 6'].value_counts()

0.0    155
1.0     96
Name: (ДЕПРЕССИЯ)madrs больше 6, dtype: int64

In [23]:
ds['(ДЕПРЕССИЯ)Калгари больше 5'].value_counts()

0.0    185
1.0     66
Name: (ДЕПРЕССИЯ)Калгари больше 5, dtype: int64

In [24]:
# Let's try to use 'Нарушения сна' as y value
data = ds

In [25]:
# Create X, y
y = data['(СОН)psqi больше 6']
X = data.drop(columns=['(СОН)psqi больше 6', '(ТРЕВОГА)Гаиильтон больше 16', '(ДЕПРЕССИЯ)madrs больше 6', '(ДЕПРЕССИЯ)Калгари больше 5'])
# X = data.drop(columns=['Нарушения сна больше 5'])

In [33]:
# Find 3 best predictors witn chi square and ANOVA
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2 # chi^2
from sklearn.feature_selection import f_classif # ANOVA

X_chi2 = SelectKBest(chi2, k=5).fit_transform(X, y)
X_anova = SelectKBest(f_classif, k=5).fit_transform(X, y)

Get the Top Selected Features

https://ml2021.medium.com/chi-square-and-anova-feature-selection-for-ml-5e1063ab0991

In [51]:
f_score = chi2(X, y)
f_score
# The first array is the F_score , 2nd one is the P_values
# the smaller the P value the more significant the difference in the features

(array([2.27004444e-01, 1.41640085e-01, 8.85776705e-02, 1.72557953e+00,
        3.87955748e-02, 3.17161211e-03, 2.42740890e+00, 3.07154818e+00,
        4.31543488e+00, 3.60816218e+02, 1.49696383e+00, 2.11325714e+00,
        6.82708995e-01, 4.46464007e+00, 3.69631111e+00, 4.08528955e+00,
        4.39262372e-01, 1.27951917e+00, 1.81534829e-02, 3.11785564e-02,
        1.96909626e-01, 7.15919533e-01, 3.44895970e+01, 3.27558783e-02,
        2.70985987e+01]),
 array([6.33753939e-01, 7.06655960e-01, 7.65993200e-01, 1.88976419e-01,
        8.43854205e-01, 9.55089222e-01, 1.19229833e-01, 7.96735620e-02,
        3.77681162e-02, 1.87005948e-80, 2.21139118e-01, 1.46028215e-01,
        4.08655450e-01, 3.46033793e-02, 5.45329075e-02, 4.32580391e-02,
        5.07478692e-01, 2.57988457e-01, 8.92821509e-01, 8.59842620e-01,
        6.57226956e-01, 3.97485647e-01, 4.28535575e-09, 8.56378682e-01,
        1.93338040e-07]))

In [53]:
pvalues = pd.Series(f_score[1])
pvalues.index = X.columns
pvalues.sort_values(ascending=True)

ИМТ                                          1.870059e-80
P                                            4.285356e-09
G                                            1.933380e-07
Забол кожи                                   3.460338e-02
Были ли нарушения сна                        3.776812e-02
Панкреатит                                   4.325804e-02
ГБ                                           5.453291e-02
Здоровье от 1 до 10                          7.967356e-02
Удовлетворенность материальным положением    1.192298e-01
Аллергии                                     1.460282e-01
Род занятий(0-0, работает-1                  1.889764e-01
Операции                                     2.211391e-01
ЧМТ                                          2.579885e-01
Стаж шизофр                                  3.974856e-01
СД                                           4.086554e-01
Дисфункция ЖКТ                               5.074787e-01
Пол                                          6.337539e-01
Частота госпит                               6.572270e-01
Полных лет                                   7.066560e-01
Образование(0-начальное, 4-высшее)           7.659932e-01
Семейное положение(0-0, 1-женат)             8.438542e-01
N                                            8.563787e-01
Дебют                                        8.598426e-01
Насл отягощенность                           8.928215e-01
Удовлетворенность семеными отношениями       9.550892e-01
dtype: float64

In [57]:
# Now use the SelectKBest Model with the chi2 classifier to find the best features

sel_ = SelectKBest(chi2, k=5).fit(X, y)
X.columns[sel_.get_support()]

Index(['Были ли нарушения сна', 'ИМТ', 'Забол кожи', 'P', 'G'], dtype='object')

In [34]:
ds.head(20)

,Пол,Полных лет,"Образование(0-начальное, 4-высшее)","Род занятий(0-0, работает-1","Семейное положение(0-0, 1-женат)",Удовлетворенность семеными отношениями,Удовлетворенность материальным положением,Здоровье от 1 до 10,Были ли нарушения сна,ИМТ,...,Дебют,Частота госпит,Стаж шизофр,P,N,G,(СОН)psqi больше 6,(ТРЕВОГА)Гаиильтон больше 16,(ДЕПРЕССИЯ)madrs больше 6,(ДЕПРЕССИЯ)Калгари больше 5
0,1.0,32.0,4.0,0.0,0.0,5.0,0.0,7.0,1.0,24.012346,...,28.299999,0.0,3.70,11.0,11.0,18.0,0.0,0.0,0.0,0.0
1,1.0,26.0,2.0,0.0,0.0,5.0,0.0,10.0,1.0,20.244898,...,26.000000,1.0,2.00,10.0,25.0,36.0,1.0,0.0,1.0,1.0
2,1.0,49.0,2.0,0.0,0.0,5.0,1.0,10.0,0.0,29.752745,...,26.000000,2.0,23.00,9.0,16.0,23.0,0.0,0.0,0.0,0.0
3,1.0,50.0,2.0,0.0,0.0,5.0,1.0,7.0,1.0,22.093170,...,16.000000,1.0,34.00,13.0,13.0,20.0,0.0,0.0,0.0,0.0
4,1.0,27.0,2.0,1.0,0.0,5.0,1.0,9.0,1.0,26.061680,...,21.000000,0.0,6.00,7.0,9.0,22.0,0.0,0.0,0.0,0.0
5,1.0,39.0,2.0,0.0,0.0,5.0,1.0,7.0,0.0,20.761246,...,34.000000,0.0,4.00,9.0,13.0,22.0,0.0,0.0,0.0,0.0
6,1.0,23.0,3.0,0.0,0.0,4.0,1.0,7.0,0.0,19.623234,...,20.000000,0.0,3.00,7.0,9.0,22.0,1.0,1.0,1.0,0.0
7,1.0,26.0,2.0,1.0,1.0,5.0,1.0,10.0,1.0,25.737082,...,25.000000,2.0,1.00,7.0,9.0,21.0,0.0,0.0,0.0,0.0
8,1.0,37.0,4.0,0.0,0.0,5.0,1.0,7.0,0.0,24.508945,...,20.000000,2.0,17.00,9.0,15.0,22.0,0.0,0.0,0.0,0.0
9,1.0,31.0,2.0,0.0,0.0,1.0,0.0,7.0,0.0,20.603781,...,17.000000,2.0,14.00,7.0,14.0,38.0,1.0,1.0,1.0,1.0
10,1.0,35.0,3.0,0.0,0.0,5.0,1.0,5.0,0.0,23.547880,...,22.799999,2.0,12.20,14.0,20.0,40.0,1.0,1.0,1.0,0.0
11,1.0,28.0,2.0,1.0,0.0,5.0,0.0,7.0,1.0,23.040020,...,24.030001,0.0,3.97,7.0,15.0,22.0,0.0,0.0,0.0,0.0
12,1.0,31.0,3.0,0.0,0.0,1.0,0.0,3.0,1.0,26.128611,...,22.000000,1.0,9.00,7.0,7.0,16.0,0.0,0.0,0.0,0.0
13,1.0,23.0,2.0,0.0,0.0,4.0,1.0,7.0,0.0,18.812147,...,17.330000,0.0,5.67,15.0,11.0,28.0,1.0,0.0,0.0,0.0
14,1.0,37.0,3.0,1.0,0.0,5.0,0.0,7.0,0.0,20.761246,...,26.000000,2.0,11.00,18.0,7.0,22.0,1.0,0.0,0.0,0.0
15,1.0,39.0,3.0,1.0,0.0,1.0,0.0,1.0,1.0,23.148148,...,23.000000,2.0,16.00,19.0,13.0,41.0,1.0,1.0,1.0,1.0
16,1.0,29.0,1.0,0.0,0.0,5.0,1.0,10.0,1.0,25.661152,...,13.000000,2.0,16.00,15.0,9.0,26.0,1.0,0.0,0.0,0.0
17,1.0,36.0,4.0,0.0,0.0,1.0,0.0,7.0,1.0,29.407787,...,21.000000,2.0,15.00,11.0,19.0,48.0,1.0,1.0,1.0,1.0
18,1.0,33.0,3.0,1.0,1.0,5.0,1.0,10.0,1.0,26.827421,...,20.000000,0.0,13.00,9.0,7.0,25.0,1.0,0.0,1.0,0.0
19,1.0,24.0,2.0,1.0,0.0,5.0,1.0,5.0,1.0,25.390625,...,16.000000,0.0,8.00,12.0,11.0,23.0,1.0,1.0,1.0,1.0

In [41]:
X_chi2 # TOP 3 - ИМТ, P, G. TOP 5 - Были ли нарушения сна,

array([[ 1.      , 24.012346,  0.      , 11.      , 18.      ],
       [ 1.      , 20.244898,  0.      , 10.      , 36.      ],
       [ 0.      , 29.752745,  0.      ,  9.      , 23.      ],
       ...,
       [ 1.      , 19.883854,  0.      ,  7.      , 27.      ],
       [ 1.      , 20.281233,  0.      , 14.      , 21.      ],
       [ 1.      , 27.041645,  0.      ,  7.      , 28.      ]],
      dtype=float32)

In [42]:
X_anova # TOP 3 - Были ли нарушения сна, P, G

array([[ 0.,  1.,  0., 11., 18.],
       [ 0.,  1.,  0., 10., 36.],
       [ 1.,  0.,  0.,  9., 23.],
       ...,
       [ 1.,  1.,  0.,  7., 27.],
       [ 0.,  1.,  0., 14., 21.],
       [ 1.,  1.,  0.,  7., 28.]], dtype=float32)

In [59]:
# Find 4 best predictors witn scalied data

from sklearn.preprocessing import MinMaxScaler
minmax_scaler = MinMaxScaler()

X_scaled = minmax_scaler.fit_transform(X)
X_chi2_scaled = SelectKBest(chi2, k=4).fit_transform(X_scaled, y)
X_anova_scaled = SelectKBest(f_classif, k=4).fit_transform(X_scaled, y)

In [60]:
f_score_scaled = chi2(X_scaled, y)
f_score_scaled
# The first array is the F_score , 2nd one is the P_values
# the smaller the P value the more significant the difference in the features

(array([2.27004444e-01, 5.68335249e-03, 2.21444176e-02, 1.72557953e+00,
        3.87955748e-02, 1.08429199e-03, 2.42740890e+00, 3.92886765e-01,
        4.31543488e+00, 3.63840015e-01, 1.49696383e+00, 2.11325714e+00,
        6.82708995e-01, 4.46464007e+00, 3.69631111e+00, 4.08528955e+00,
        4.39262372e-01, 6.39759583e-01, 1.81534829e-02, 9.45120725e-04,
        9.84548131e-02, 1.82393754e-02, 1.07779990e+00, 1.62168666e-03,
        1.21322862e+00]),
 array([0.63375394, 0.939906  , 0.88170356, 0.18897642, 0.8438542 ,
        0.97373153, 0.11922983, 0.53078589, 0.03776812, 0.54638129,
        0.22113912, 0.14602821, 0.40865545, 0.03460338, 0.05453291,
        0.04325804, 0.50747869, 0.42379787, 0.89282151, 0.97547465,
        0.75369186, 0.89256979, 0.29919025, 0.96787773, 0.27069364]))

In [62]:
pvalues = pd.Series(f_score_scaled[1])
pvalues.index = X.columns
pvalues.sort_values(ascending=True)

Забол кожи                                   0.034603
Были ли нарушения сна                        0.037768
Панкреатит                                   0.043258
ГБ                                           0.054533
Удовлетворенность материальным положением    0.119230
Аллергии                                     0.146028
Род занятий(0-0, работает-1                  0.188976
Операции                                     0.221139
G                                            0.270694
P                                            0.299190
СД                                           0.408655
ЧМТ                                          0.423798
Дисфункция ЖКТ                               0.507479
Здоровье от 1 до 10                          0.530786
ИМТ                                          0.546381
Пол                                          0.633754
Частота госпит                               0.753692
Семейное положение(0-0, 1-женат)             0.843854
Образование(0-начальное, 4-высшее)           0.881704
Стаж шизофр                                  0.892570
Насл отягощенность                           0.892822
Полных лет                                   0.939906
N                                            0.967878
Удовлетворенность семеными отношениями       0.973732
Дебют                                        0.975475
dtype: float64

In [64]:
# Now use the SelectKBest Model with the chi2 classifier to find the best features

sel_ = SelectKBest(chi2, k=5).fit(X_scaled, y)
X.columns[sel_.get_support()]

Index(['Удовлетворенность материальным положением', 'Были ли нарушения сна',
       'Забол кожи', 'ГБ', 'Панкреатит'],
      dtype='object')

In [ ]:
# X_chi2_scaled # Были ли нарушения сна, Динамека веса за год, Аллергии, ГБ

In [ ]:
# X_anova_scaled # Были ли нарушения сна, Аллергии, P, G

In [ ]:
# How many times and which features were the most influential?

# Аллергии 4
# Были ли нарушения сна  3
# P 3
# G 3
# Динамека веса за год 1 
# ГБ 1
# Стаж шизофр 1

In [ ]:
# Using best features
X = X[['Аллергии', 'Были ли нарушения сна', 'P', 'G']]

In [ ]:
# Train/test split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

# Scaling
# from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
# scaler = StandardScaler()
minmax_scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)

# X_train_scaled = minmax_scaler.fit_transform(X_train)
# X_valid_scaled = minmax_scaler.transform(X_valid)

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.03),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.03),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(21, activation='relu'),
    tf.keras.layers.Dense(21, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.03),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.01),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.01),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(20, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.01),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(21, activation='relu'),
    tf.keras.layers.Dense(21, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(4, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    batch_size=5,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(14, activation='relu'),
    tf.keras.layers.Dense(14, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    batch_size=5,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    batch_size=5,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation='relu'),
    tf.keras.layers.Dense(14, activation='relu'),
    tf.keras.layers.Dense(14, activation='relu'),

    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    batch_size=5,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(40, activation='relu'),
    tf.keras.layers.Dense(40, activation='relu'),
    tf.keras.layers.Dense(40, activation='relu'),

    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),

    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.001),
    metrics=["accuracy"]
)


history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    batch_size=5,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
y = data['Нарушения сна больше 5']
# X = data.drop(columns=['Нарушения сна больше 5'])
# X = data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование']]
X = data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']]
# X = data[[ 'P', 'N', 'G']] # Only with these 3 values we can get very good result

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)

In [ ]:
# Scale X from 0 to 1
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
# scaler = StandardScaler()
minmax_scaler = MinMaxScaler()

# X_train_scaled = scaler.fit_transform(X_train)
# X_valid_scaled = scaler.transform(X_valid)

X_train_scaled = minmax_scaler.fit_transform(X_train)
X_valid_scaled = minmax_scaler.transform(X_valid)

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(lr=0.003), # lr=0.003
    metrics=["accuracy"]
)

# Create a learning rate callback
lr_scheduler = tf.keras.callbacks.LearningRateScheduler(lambda epoch: 1e-4 * 10**(epoch/20)) # Learning rate will increase at each epoch

history0 = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid),
                    callbacks=[lr_scheduler])

In [ ]:
import matplotlib.pyplot as plt

# Plot the validation and training data separately
def plot_loss_curves(history):
  """
  Returns separate loss curves for training and validation metrics.
  """ 
  loss = history.history['loss']
  val_loss = history.history['val_loss']

  accuracy = history.history['accuracy']
  val_accuracy = history.history['val_accuracy']

  epochs = range(len(history.history['loss']))

  # Plot loss
  plt.plot(epochs, loss, label='training_loss')
  plt.plot(epochs, val_loss, label='val_loss')
  plt.title('Loss')
  plt.xlabel('Epochs')
  plt.legend()

  # Plot accuracy
  plt.figure()
  plt.plot(epochs, accuracy, label='training_accuracy')
  plt.plot(epochs, val_accuracy, label='val_accuracy')
  plt.title('Accuracy')
  plt.xlabel('Epochs')
  plt.legend();

In [ ]:
plot_loss_curves(history0)

### Find bels LR

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(10, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(), # lr=0.003
    metrics=["accuracy"]
)

# Create a learning rate callback
lr_scheduler = tf.keras.callbacks.LearningRateScheduler(lambda epoch: 1e-4 * 10**(epoch/20)) # Learning rate will increase at each epoch

history_lr = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=100,
                    validation_data = (X_valid_scaled, y_valid),
                    callbacks=[lr_scheduler])

In [ ]:
import matplotlib.pyplot as plt

# Plot the learning rate vs loss
lrs = 1e-4 * (10 ** (tf.range(100)/20))
plt.figure(figsize=(10, 7))
plt.semilogx(lrs, history_lr.history["loss"]) # lrs - x-axis, history - y-axis
plt.xlabel("Learning rate")
plt.ylabel("Loss")
plt.title("Learning rate vs. loss")

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(20, activation='relu'),
    tf.keras.layers.Dense(20, activation='relu'),
    # tf.keras.layers.Dense(10, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(0.03),
    metrics=["accuracy"]
)


history1 = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_valid_scaled, y_valid))

In [ ]:
plot_loss_curves(history1)

In [ ]:
train_data = data[:121] # 70%
validation_data = data[121:155] # 20%
test_data = data[155:174] # 10%

In [ ]:
y_train = train_data['Нарушения сна больше 5']
y_validation = validation_data['Нарушения сна больше 5']
y_test = test_data['Нарушения сна больше 5']

X_train = train_data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']]
X_validation = validation_data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']]
X_test = test_data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']]

In [ ]:
len(y_train), len(y_validation), len(y_test)

In [ ]:
# y = data['Нарушения сна']
# # X = data.drop(columns=['Нарушения сна'])
# # X = data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование']]
# # X = data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']]
# X = data[[ 'P', 'N', 'G']] # Only with these 3 values we can get very good result

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,)

In [ ]:
# Scale X from 0 to 1
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_validation_scaled = scaler.fit_transform(X_validation)
X_test_scaled = scaler.transform(X_test)

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(), # lr=0.03
    metrics=["accuracy"]
)

history = model.fit(X_train_scaled, 
                    y_train, 
                    epochs=50,
                    validation_data = (X_validation_scaled, y_validation))

In [ ]:
plot_loss_curves(history)

### It is very likely that the model has overfitted. It is necessary to add data augmentation, validation data, visualization
Find best lr

Вывести наиболее значимые характеристики



Check result on different scalers. For example:

1) Min Max Scaler (try it)

2) Standard Scaler

3) Max Abs Scaler

4) Robust Scaler

5) Quantile Transformer Scaler

6) Power Transformer Scaler

7) Unit Vector Scaler

In [ ]:
# Let's try to use 'Нарушения сна' as y value
data = ds.drop(columns=['Тревога больше 7', 'Madrs больше 6', 'Калгари больше 5'])
y = data['Нарушения сна больше 5']
# X = data.drop(columns=['Нарушения сна'])
X = data[['Пол', 'Удовлетворенность семейными отношениями', 'ЧМТ','Стаж шизофр', 'Образование', 'Насл отягощенность', 'P', 'N', 'G']] # 'Были ли нарушения сна', 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,)

# Scale X from 0 to 1
scaler2 = StandardScaler()

X_train_scaled = scaler2.fit_transform(X_train)
X_test_scaled = scaler2.transform(X_test)

In [ ]:
X_train_scaled

In [ ]:
tf.random.set_seed(42)

model2 = tf.keras.Sequential([
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),
    tf.keras.layers.Dense(100, activation='relu'),

    # tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model2.compile(
    loss=tf.keras.losses.binary_crossentropy,
    optimizer=tf.keras.optimizers.Adam(), # lr=0.03
    metrics=["accuracy"]
)

history2 = model2.fit(X_train_scaled, y_train, epochs=50)