<a href="https://colab.research.google.com/github/Nikitaion/mental_disorders/blob/main/mental_disorders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
!wget https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/mental_disorders.csv -O ds.csv

--2022-04-14 17:35:33--  https://raw.githubusercontent.com/Nikitaion/mental_disorders/main/data/mental_disorders.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60771 (59K) [text/plain]
Saving to: ‘ds.csv’

ds.csv              100%[===================>]  59.35K  --.-KB/s    in 0.001s

2022-04-14 17:35:33 (41.5 MB/s) - ‘ds.csv’ saved [60771/60771]

In [57]:
import tensorflow as tf
print(f"Tensorflow version: {tf.__version__}")

import pandas as pd
import numpy as np

Tensorflow version: 2.8.0

In [58]:
ds = pd.read_csv("/content/ds.csv")
ds.head()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,да,нет,нет,М,32,высшее,не работает,Холост,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,да,нет,да,М,26,среднее,не работает,Холост,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,нет,нет,нет,М,49,среднее,не работает,Разведен,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,да,нет,нет,М,50,среднее,не работает,Холост,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,да,нет,нет,М,27,среднее,Работает,Разведен,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0

In [59]:
ds.tail()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
175,да,нет,нет,Ж,48,Высшее,Не работает,Женат,6.0,5,...,40.0,30.0,15.0,20.0,10.0,25.0,10.0,8.0,3.0,70.0
176,да,нет,да,М,36,Среднее,Не работает,Холост,6.0,3,...,14.0,8.0,4.0,10.0,4.0,14.0,18.0,5.0,6.0,30.0
177,да,да,нет,М,40,Среднее,Не работает,Холост,9.0,5,...,25.0,18.0,12.0,20.0,8.0,30.0,12.0,15.0,6.0,30.0
178,нет,нет,да,М,35,Незаконченное высшее,Не работает,Холост,7.0,2,...,28.0,30.0,30.0,40.0,12.0,50.0,50.0,2.0,4.0,60.0
179,нет,нет,нет,М,24,Высшее,Работает,Холост,10.0,5,...,10.0,20.0,10.0,10.0,10.0,20.0,10.0,7.0,3.0,80.0

In [60]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 51 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Нарушения сна                              180 non-null    object
 1   Тревога                                    180 non-null    object
 2   Депрессия                                  180 non-null    object
 3   Пол                                        180 non-null    object
 4   Полных лет                                 180 non-null    int64
 5   Образование                                180 non-null    object
 6   Род занятий                                180 non-null    object
 7   Семейное положение                         180 non-null    object
 8   Здоровье от 1 до 10                        177 non-null    float64
 9   Удовлетворенность семеными отношениями     180 non-null    int64
 10  Удовлетворенность материальным положением  179 non-null    object
 11  Здоровье от 1 до 10.1                      177 non-null    float64
 12  Были ли нарушения сна                      180 non-null    object
 13  Рост                                       174 non-null    float64
 14  Вес                                        173 non-null    object
 15  ИМТ                                        179 non-null    object
 16  Динамека веса за год                       180 non-null    object
 17  Операции                                   180 non-null    object
 18  Аллергии                                   180 non-null    object
 19  СД                                         180 non-null    object
 20  Забол кожи                                 180 non-null    object
 21  ГБ                                         180 non-null    object
 22  Панкреатит                                 180 non-null    object
 23  Дисфункция ЖКТ                             180 non-null    object
 24  ЧМТ                                        178 non-null    object
 25  Насл отягощенность                         180 non-null    object
 26  Дебют                                      180 non-null    object
 27  Стаж шизофр                                177 non-null    object
 28  Преобл синдром                             179 non-null    object
 29  P                                          180 non-null    int64
 30  N                                          180 non-null    int64
 31  G                                          180 non-null    int64
 32  BARS (акатизия)                            179 non-null    float64
 33  SAS (Экстрапир)                            179 non-null    float64
 34  AIMS (непр дв)                             179 non-null    float64
 35  О. талии                                   176 non-null    float64
 36  О. бедра                                   176 non-null    float64
 37  О. запястья                                176 non-null    object
 38  О. Бедер                                   176 non-null    float64
 39  О. плеча                                   176 non-null    float64
 40  Т. спина                                   176 non-null    float64
 41  Т. пупок                                   176 non-null    float64
 42  Т. грудь                                   176 non-null    float64
 43  Т. бицепс                                  176 non-null    float64
 44  Т. трицепс                                 176 non-null    float64
 45  Т.предпл                                   176 non-null    float64
 46  Т. бедро                                   176 non-null    float64
 47  Т. икра                                    176 non-null    float64
 48  ESS                                        175 non-null    float64
 49  шкала общего клин впечатления              172 non-null    float64
 50  шкала соц функционир                       174 non-null    float64
dtypes: float64(21), int64(5), object(25)
memory usage: 71.8+ KB

In [62]:
ds[["Вес", "ИМТ", "Дебют", "Стаж шизофр"]].astype(np.float64)

ValueError: ignored

In [39]:
# ds["Нарушения сна"] = ds["Нарушения сна"].map(dict(да=1, нет=0))

In [40]:
ds["Нарушения сна"].value_counts()

да     113
нет     67
Name: Нарушения сна, dtype: int64

In [41]:
# Why i did this?
# We have one-hot encoding lol -_-

def change_value_to_numeric(x):
  if type(x) == int or type(x) == float:
    return x

  if x.lower() == "да":
    return 1
  elif x.lower() == "нет":
    return 0
  elif x.lower() == "м":
    return 1
  elif x.lower() == "ж":
    return 0
  
  # Род занятий
  elif x.lower() == "не работает":
    return 0
  elif x.lower() == "работает":
    return 1
  elif x.lower() == "учится":
    return 2
  elif x.lower() == "пенсионер":
    return 3
  
  # Семейное положение:
  elif x.lower() == "холост":
    return 0 
  elif x.lower() == "женат":
    return 1
  elif x.lower() == "разведен":
    return 2
  elif x.lower() == "вдовец":
    return 3

  # Образование:
  elif x.lower() == "среднее":
    return 0 
  elif x.lower() == "незаконченное высшее":
    return 1
  elif x.lower() == "высшее":
    return 2
  elif x.lower() == "неполное среднее":
    return 3
  elif x.lower() == "начальное":
    return 4

  # Динамика веса за год:
  elif x.lower() == "стабильный вес":
    return 0 
  elif x.lower() == "снижение веса":
    return 1
  elif x.lower() == "увеличение веса":
    return 2

  # ЧМТ:
  elif x.lower() == "нет":
    return 0 
  elif x.lower() == "да (без потери сознания)":
    return 1
  elif x.lower() == "да (с потерей сознания)":
    return 2

  # Преобл синдром:
  elif x.lower() == "аффективно-параноидный":
    return 0 
  elif x.lower() == "параноидный":
    return 1
  elif x.lower() == "галлюцинаторно-параноидный":
    return 2
  elif x.lower() == "парафренный":
    return 3
  elif x.lower() == "кататонический":
    return 4

  return "NaN"

In [42]:
ds.applymap(lambda x: change_value_to_numeric(x))

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,1,0,0,1,32,2,0,0,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,1,0,1,1,26,0,0,0,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,0,0,0,1,49,0,0,2,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,1,0,0,1,50,0,0,0,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,1,0,0,1,27,0,1,2,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,1,0,0,0,48,2,0,1,6.0,5,...,40.0,30.0,15.0,20.0,10.0,25.0,10.0,8.0,3.0,70.0
176,1,0,1,1,36,0,0,0,6.0,3,...,14.0,8.0,4.0,10.0,4.0,14.0,18.0,5.0,6.0,30.0
177,1,1,0,1,40,0,0,0,9.0,5,...,25.0,18.0,12.0,20.0,8.0,30.0,12.0,15.0,6.0,30.0
178,0,0,1,1,35,1,0,0,7.0,2,...,28.0,30.0,30.0,40.0,12.0,50.0,50.0,2.0,4.0,60.0
179,0,0,0,1,24,2,1,0,10.0,5,...,10.0,20.0,10.0,10.0,10.0,20.0,10.0,7.0,3.0,80.0

In [43]:
ds = ds.applymap(lambda x: change_value_to_numeric(x))

In [44]:
ds.head()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,1,0,0,1,32,2,0,0,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,1,0,1,1,26,0,0,0,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,0,0,0,1,49,0,0,2,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,1,0,0,1,50,0,0,0,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,1,0,0,1,27,0,1,2,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0

In [45]:
ds.isna()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
176,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
177,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
178,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
179,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [46]:
ds = ds.dropna(axis=0)
ds.isna().sum()

Нарушения сна                                0
Тревога                                      0
Депрессия                                    0
Пол                                          0
Полных лет                                   0
Образование                                  0
Род занятий                                  0
Семейное положение                           0
Здоровье от 1 до 10                          0
Удовлетворенность семеными отношениями       0
Удовлетворенность материальным положением    0
Здоровье от 1 до 10.1                        0
Были ли нарушения сна                        0
Рост                                         0
Вес                                          0
ИМТ                                          0
Динамека веса за год                         0
Операции                                     0
Аллергии                                     0
СД                                           0
Забол кожи                                   0
ГБ                                           0
Панкреатит                                   0
Дисфункция ЖКТ                               0
ЧМТ                                          0
Насл отягощенность                           0
Дебют                                        0
Стаж шизофр                                  0
Преобл синдром                               0
P                                            0
N                                            0
G                                            0
BARS (акатизия)                              0
SAS (Экстрапир)                              0
AIMS (непр дв)                               0
О. талии                                     0
О. бедра                                     0
О. запястья                                  0
О. Бедер                                     0
О. плеча                                     0
Т. спина                                     0
Т. пупок                                     0
Т. грудь                                     0
Т. бицепс                                    0
Т. трицепс                                   0
Т.предпл                                     0
Т. бедро                                     0
Т. икра                                      0
ESS                                          0
шкала общего клин впечатления                0
шкала соц функционир                         0
dtype: int64

In [49]:
ds.head()

,Нарушения сна,Тревога,Депрессия,Пол,Полных лет,Образование,Род занятий,Семейное положение,Здоровье от 1 до 10,Удовлетворенность семеными отношениями,...,Т. пупок,Т. грудь,Т. бицепс,Т. трицепс,Т.предпл,Т. бедро,Т. икра,ESS,шкала общего клин впечатления,шкала соц функционир
0,1,0,0,1,32,2,0,0,7.0,5,...,20.0,10.0,10.0,24.0,6.0,22.0,24.0,3.0,3.0,70.0
1,1,0,1,1,26,0,0,0,10.0,5,...,10.0,10.0,5.0,12.0,4.0,7.0,12.0,1.0,4.0,60.0
2,0,0,0,1,49,0,0,2,10.0,5,...,20.0,20.0,32.0,34.0,6.0,50.0,28.0,1.0,3.0,60.0
3,1,0,0,1,50,0,0,0,7.0,5,...,30.0,10.0,15.0,20.0,5.0,10.0,10.0,6.0,4.0,60.0
4,1,0,0,1,27,0,1,2,9.0,5,...,10.0,8.0,10.0,18.0,4.0,28.0,8.0,10.0,3.0,70.0

In [55]:
ds.sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Нарушения сна                                                                               89
Тревога                                                                                     33
Депрессия                                                                                   52
Пол                                                                                        100
Полных лет                                                                                5795
Образование                                                                                108
Род занятий                                                                                 48
Семейное положение                                                                          86
Здоровье от 1 до 10                                                                     1151.0
Удовлетворенность семеными отношениями                                                     541
Удовлетворенность материальным положением                                                 88.0
Здоровье от 1 до 10.1                                                                   1151.0
Были ли нарушения сна                                                                       92
Рост                                                                                   25064.0
Вес                                          NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...
ИМТ                                          NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...
Динамека веса за год                                                                       123
Операции                                                                                    74
СД                                                                                           4
Забол кожи                                                                                  20
ГБ                                                                                          20
Дисфункция ЖКТ                                                                              14
ЧМТ                                                                                      136.0
Насл отягощенность                                                                          70
Дебют                                        NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...
Стаж шизофр                                  NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...
Преобл синдром                                                                           170.0
P                                                                                         1629
N                                                                                         1784
G                                                                                         3543
BARS (акатизия)                                                                          237.0
SAS (Экстрапир)                                                                          419.0
AIMS (непр дв)                                                                           133.0
О. талии                                                                               13553.0
О. бедра                                                                                7143.0
О. запястья                                  NaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNNaNN...
О. Бедер                                                                               13638.0
О. плеча                                                                                4047.0
Т. спина                                                                                3453.0
Т. пупок                                                                                4151.0
Т. грудь                                                                                2968.0
Т. бицепс                                                                               1963.0
Т. трицепс                                                                              2973.0
Т.предпл                                                                                1342.0
Т. бедро                                                                                4038.0
Т. икра                                                                                 2609.0
ESS                                                                                      886.0
шкала общего клин впечатления                                                            547.0
шкала соц функционир                                                                    9430.0
dtype: object

In [48]:
# Let's try to use